<div class="container">
  <form class="form-inline" action="">
    <div class="row top-buffer">
      <div class="col">
        <div class="input-group">
          <input class="form-control rounded-0" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="input-group">
          <label for="contact">Contact: &nbsp;</label>
          <input type="text" class="form-control" placeholder="Enter Contact" id="contact">
        </div>
      </div>
      <div class="col">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Education Service center" id="contact">
        </div>
      </div>
      <div class="col">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="SASICD office" id="contact">
        </div>
      </div>
    </div>

    <div class="row top-buffer">
      <div class="col">
        <div class="col">
          <div class="input-group">
            <input type="text" class="form-control" id="contact">
          </div>
        </div>

      </div>
      <div class="col">
        <div class="col">
          <div class="input-group">
            <input type="text" class="form-control" id="contact">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="input-group">
          <label for="exampleFormControlTextarea2">Purpose : &nbsp;</label>
          <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" cols="100"></textarea>
        </div>
      </div>
      <div class="col">
        <div class="col">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Home Avenue" id="contact">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="address4" id="address2">
        </div>
      </div>
    </div>

    <div class="row top-buffer">
      <div class="col">
        <div class="input-group">
          <label for="mileage">Mileage: &nbsp;</label>
          <input type="text" class="form-control" placeholder="Start" id="mileage">
        </div>
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Stop" id="address4">
      </div>
      <div class="col">
        <div class="input-group">
          <label for="citi">City: &nbsp;</label>
          <input type="text" class="form-control" placeholder="citi1" id="citi">
        </div>
      </div>
    </div>
    <div class="row top-buffer">
      <div class="col">
        <div class="input-group">
          <div class="form-check form-check-inline">
            <label class="form-check-label" for="inlineCheckbox1">Round Trip &nbsp;</label>
            <input class="form-check-input" name="inlineCheckbox1" type="checkbox" id="inlineCheckbox1" 
            value="option1">
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label" for="inlineCheckbox2">Commute &nbsp;</label>
            <input class="form-check-input" name="inlineCheckbox1" type="checkbox" id="inlineCheckbox1"
             value="option1">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="input-group">
          <label for="state">State: &nbsp;</label>
          <input type="text" class="form-control" placeholder="TX" id="state">
        </div>
      </div>
      <div class="col">
        <div class="input-group">
          <label for="zip">Zip: &nbsp;</label>
          <input type="text" class="form-control" placeholder="78208-0001" id="zip">
        </div>
      </div>
    </div>
  </form>
</div>


<router-outlet></router-outlet>